<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TreeEntityMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TreeEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>

  <resultMap id="TreeMap" type="com.example.entity.TreeDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <collection column="id" property="subTreeDtoList"
                ofType="com.example.entity.TreeDto" select="selectTree2"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, parent_id
    from t_tree
  </select>

  <select id="selectTree" resultMap="TreeMap">
    select id, name
    from t_tree
    where parent_id is null
  </select>

  <select id="selectTree2" resultMap="TreeMap">
    select id, name
    from t_tree
    where parent_id = #{id}
  </select>

</mapper>